#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent global scrollbars */
  background-color:  #fafafa;
}

* {
  box-sizing: border-box;
}

/* css for home page popover menu 
.hover-bg-light:hover {
  background-color: #f8f9fa;
}

.list-group-item:focus {
  box-shadow: none;
}

.fade {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.fade.show {
  opacity: 1;
}

/* Light hover effect 
.list-item-hover:hover {
  background-color: #f8f9fa; /* Or any light color you prefer 
}

.popover-item:hover {
  background-color: red !important; /* Light gray on hover 
}*/